@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>
<div class="text-center">

    <h1 style="color:darkred" class="display-4"><strong>Kişisel Bilgiler</strong></h1>

    <br />
    <br />
    <div class="text-center" 
         style="background-image: url('/img/Metehan.jpeg'); 
                background-size: contain; 
                background-repeat: no-repeat; 
                background-position: center; 
                height: 300px; 
                width: 300px; 
                margin: 0 auto; 
                color: white; 
                border-radius: 10px;">
    </div>

    <br />
    <br />
    <p style="font-size:24px">Yapımcı: Metehan Kaya</p>
    <p style="font-size:24px">Okul Numarası: 20221129056</p>
</div>
